---
import type { IArtExperience } from '../../types/articles/IArtExperience';
import { parse } from 'marked';

type Props = { data: IArtExperience };
const { data } = Astro.props;

const { link, thumb, title } = data;

const PUBLIC_URL = import.meta.env.PUBLIC_URL;

const TITLE = data['TitleMD'] && parse(data['TitleMD']);

const DESCRIPTION = data['DescriptionMD'] && parse(data['DescriptionMD']);
const BODY = data['BodyMD'] && parse(data['BodyMD']);
---

<article>
  <div class="container">
    <Fragment set:html={TITLE} />

    <img src={PUBLIC_URL + thumb.url} alt={title} />

    <div class="about">
      <h4><span>О</span> компании</h4>
      <Fragment set:html={DESCRIPTION} />
    </div>

    <div class="experience">
      <h4><span>Мой</span> опыт</h4>
      <Fragment set:html={BODY} />
    </div>

    <a href={link} target="_blank"> Подробнее</a>
  </div>
</article>

<style lang="scss">
  article {
    h3 span,
    h4 span {
      position: relative;
      &::after {
        z-index: -1;
        content: '';
        position: absolute;
        inset: 0px -0.33em;

        background: rgb(var(--c-accent), 10%);
        border-bottom: 1px solid rgb(var(--c-accent));
      }
    }

    .container {
      padding-block: 3rem;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: min-content;
      row-gap: 1.5rem;
      column-gap: 2ch;

      & > a {
        justify-self: end;
      }
    }

    &:nth-child(2n) {
      .container {
        grid-template-areas:
          'img title'
          'img about'
          'exp exp'
          '. link';
      }
    }
    &:nth-child(2n + 1) {
      background-color: rgb(var(--c-accent), 10%);
      .container {
        grid-template-areas:
          'title img'
          'about img'
          'exp exp'
          '. link';

        & > img {
          justify-self: end;
        }
      }
    }
  }

  h3 {
    grid-area: title;
  }

  .container > img {
    grid-area: img;
    height: 370px;
    max-width: 100%;
    object-fit: contain;
  }

  .about {
    grid-area: about;
  }

  .experience {
    grid-area: exp;
  }

  .container > a {
    grid-area: link;
    width: fit-content;
    border-bottom: 2px dashed;
  }

  @media (max-width: 1023.98px) {
    article {
      &:nth-child(2n),
      &:nth-child(2n + 1) {
        .container {
          grid-template-columns: auto 1fr;
          grid-template-areas:
            'title img'
            'about about'
            'exp exp'
            'link link';
        }
      }
    }
  }
  @media (max-width: 767.98px) {
    article {
      &:nth-child(2n),
      &:nth-child(2n + 1) {
        .container {
          grid-template-columns: auto;
          grid-template-areas:
            'title'
            'img'
            'about'
            'exp'
            'link';
        }
      }
      .container {
        & > img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
</style>
